@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -5px 10px 50px rgba(0, 0, 0, 0.2);
}

.containerImage {
    order: 1;
}

.containerImage img {
    width: 260px;
    height: 260px;
    margin-top: 15px;
    border-radius: 15px;
}

.containerText {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerText h1 {
    font-size: 20px;
    padding: 0 15px 0 15px;
    color: hsl(218, 44%, 22%);
}

.containerText p {
    font-size: 15px;
    padding: 0 15px 0 15px;
    color: hsl(220, 15%, 55%);
}

@media only screen and (max-width: 375px) {
    body {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .container {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
